@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap');

body {
  background-color: #00fafa;
  font-family: 'Mulish';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}
a {
  font-family: 'Mulish';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}
